<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>Search</title>
    <style>
        #hook-container>div {
            margin: .3em 0;
        }
        #hook-container span:hover {
            background-color: #ddd;
        }
        #announcement-area {
            width: 100%;
            height: 4em;
        }
        .line-roma {
            color: #00a;
        }
        .line-timestamp {
            margin-right: 1em;
            opacity: .5;
        }
    </style>
</head>
<body>
    <form id="search-form">
        <p>
            <label>
                Title
                <input id="search-name">
            </label>
        </p>
        <p>
            <label>
                Artist
                <input id="search-singer">
            </label>
        </p>
        <p>
            <button type="submit">Search</button>
            <button type="button" onclick="manual_open()">Manual</button>
        </p>
    </form>
    <div id="result-widget-root">(search result here)</div>
    <hr>
    <textarea id="announcement-area"></textarea>
    <hr>
    <div id="hook-container"></div>
    
    <script>
    function $id(id) {
        return document.getElementById(id);
    }
        
    var subwin=null;
    function open_player(songid) {
        subwin=window.open('/play/'+songid,'qrcd-player','menubar=no,height=200,width=400');
    }
    
    var $result_widget=$id('result-widget-root');
    
    $id('search-form').addEventListener('submit',function(e) {
        e.preventDefault();
        $result_widget.innerHTML='searching...';
        fetch('/api/search', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                name: $id('search-name').value,
                singer: $id('search-singer').value,
            }),
        })
            .then((res)=>res.text())
            .then((t)=>{
                $result_widget.innerHTML=t;
            })
            .catch((e)=>{
                $result_widget.textContent='search failed: '+e;
            });
    });
    
    document.addEventListener('keydown',function(e) {
        if(['a','button','input','textarea'].indexOf(e.target.tagName.toLowerCase())===-1) {
            var k=e.key.toLowerCase();
            if(k==='s')
                manual_open();
            else if(subwin) {
                console.log('forwarding key',k);
                subwin.key_handler(k);
            }
        }
    });
    
    function manual_open() {
        var songid=parseInt(prompt('Song ID:'));
        if(songid)
            open_player(songid);
    }
    
    function fix2(x) {
        return x<10 ? ('0'+x) : (''+x);
    }
    
    function hook_orig(pool_orig,pool_roma) {
        console.log(pool_orig,pool_roma);
        $container=$id('hook-container');
        $container.textContent='';
        
        function each_line(ln,pool,cls) {
            var $line=document.createElement('div');
            $line.className=cls;
            if(ln.length) {
                var $stamp=document.createElement('span');
                var time=pool.chunk_time[ln[0]];
                $stamp.textContent=` (${parseInt(time/60)}:${fix2(parseInt(time%60))})`;
                $stamp.addEventListener('mousedown',function(e) {
                    if(!e.ctrlKey) return;
                    if(!subwin) return;
                    console.log('forwarding time',time);
                    subwin.$audio_player.pause();
                    subwin.$audio_player.currentTime=time;
                });
                $stamp.className='line-timestamp';
                $line.appendChild($stamp);
            }
            ln.forEach(function(chkid) {
                var $elem=document.createElement('span');
                $elem.textContent=pool.chunk_src[chkid];
                $elem.addEventListener('mousedown',function(e) {
                    if(!e.ctrlKey) return;
                    if(!subwin) return;
                    var time=pool.chunk_time[chkid];
                    console.log('forwarding time',time);
                    subwin.$audio_player.pause();
                    subwin.$audio_player.currentTime=time;
                });
                $line.appendChild($elem);
            });
            $container.appendChild($line);
        }
        
        for(var i=0;i<pool_orig.line_src.length;i++) {
            var ln_orig=pool_orig.line_src[i];
            var ln_roma=pool_roma.line_src[i];
            each_line(ln_orig,pool_orig,'line-orig');
            if(ln_roma)
                each_line(ln_roma,pool_roma,'line-roma');
        }
    }
    
    $id('announcement-area').addEventListener('keydown', function(e) {
        if(e.ctrlKey && e.key.toLowerCase()=='enter' && subwin) {
            subwin.set_announcement(e.target.value);
        }
    })
    </script>
</body>
</html>